:root {
  --hue: 0;
  --lum: 50%;
  --sat: 100%;
}

body {
  --hue-deflect1: 0;
  --hue-deflect2: 0;
  --hue-deflect3: 0;
  --hue-deflect4: 0;
}

body[data-clr-harmony="comp"] {
  --hue-deflect2: 180;
}

body[data-clr-harmony="triadic"] {
  --hue-deflect2: 120;
  --hue-deflect3: 240;
}

body[data-clr-harmony="split-comp"] {
  --hue-deflect2: 150;
  --hue-deflect3: 210;
}

body[data-clr-harmony="tetradic"] {
  --hue-deflect2: 60;
  --hue-deflect3: 180;
  --hue-deflect4: 240;
}

body[data-clr-harmony="analog"] {
  --hue-deflect2: 30;
  --hue-deflect3: 60;
  --hue-deflect4: 90;
}

body {
  --auto-hue2: calc(var(--hue) + var(--hue-deflect2, 0));
  --auto-hue3: calc(var(--hue) + var(--hue-deflect3, 0));
  --auto-hue4: calc(var(--hue) + var(--hue-deflect4, 0));

  --clr1: hsl(var(--hue), var(--sat), var(--lum));
  --clr2: hsl(var(--auto-hue2), var(--sat), var(--lum));
  --clr3: hsl(var(--auto-hue3), var(--sat), var(--lum));
  --clr4: hsl(var(--auto-hue4), var(--sat), var(--lum));
}

.pretty-light {
  --lum: 90%;
  --lum-pretty-light: var(--lum);
}
.light {
  --lum: 80%;
  --lum-light: var(--lum);
}
.kinda-light {
  --lum: 70%;
  --lum-kinda-light: var(--lum);
}

.medium {
  --lum: 50%;
}
.kinda-dark {
  --lum: 30%;
  --lum-kinda-dark: var(--lum);
}
.dark {
  --lum: 20%;
  --lum-dark: var(--lum);
}
.pretty-dark {
  --lum: 10%;
  --lum-pretty-dark: var(--lum);
}

.saturated {
  --sat: 100%;
}
.washed {
  --sat: 66%;
}
.muted {
  --sat: 33%;
}
.gray {
  --sat: 0%;
}

